/microservice-api/target/
/microservice-consumer-dept-80/target/
/microservice-consumer-dept-feign/target/
/microservice-eureka-7001/target/
/microservice-eureka-7002/target/
/microservice-eureka-7003/target/
/mircoservice-provider-dept-8001/target/
/mircoservice-provider-dept-8002/target/
/mircoservice-provider-dept-8003/target/
